In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("D:\jupyter\dataset\mail_data.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [7]:
df['Category'].replace({'ham':0,'spam':1},inplace=True)

In [9]:
df=df.where((pd.notnull(df)),'')

In [10]:
X=df['Message']
y=df['Category']

In [11]:
print(X.head())
print(y.head())

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: Message, dtype: object
0    0
1    0
2    1
3    0
4    0
Name: Category, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

In [ ]:

X_train_feature=feature