In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("https://sololearn.com/uploads/files/titanic.csv")
df.head()

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500

In [3]:
# df['sex'].values()=df['Sex'].values()=='male'
df['sex']=df['Sex']=='male'

In [4]:
df['sex']=df['sex'].astype(int)

In [5]:
df.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses,Parents/Children,Fare,sex
0,0,3,male,22.0,1,0,7.2500,1
1,1,1,female,38.0,1,0,71.2833,0
2,1,3,female,26.0,0,0,7.9250,0
3,1,1,female,35.0,1,0,53.1000,0
4,0,3,male,35.0,0,0,8.0500,1

In [6]:
df.pop('Sex')

0        male
1      female
2      female
3      female
4        male
        ...
882      male
883    female
884    female
885      male
886      male
Name: Sex, Length: 887, dtype: object

In [7]:
df.head()

   Survived  Pclass   Age  Siblings/Spouses  Parents/Children     Fare  sex
0         0       3  22.0                 1                 0   7.2500    1
1         1       1  38.0                 1                 0  71.2833    0
2         1       3  26.0                 0                 0   7.9250    0
3         1       1  35.0                 1                 0  53.1000    0
4         0       3  35.0                 0                 0   8.0500    1

In [48]:
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
kf=KFold(n_splits=5,shuffle=True)

# for model with all features.

In [11]:
X1=df[['Pclass', 'sex', 'Age', 'Siblings/Spouses', 'Parents/Children', 'Fare']].values
y1=df['Survived'].values

In [16]:
from sklearn.model_selection import train_test_split

In [57]:
# X1_train,X1_test,y1_train,y1_test=train_test_split(X1,y1,test_size=0.2,random_state=42)

function for splitting the data in various chunks using kfold and calculating scores and finding their mean.

In [95]:
def score_model(X,y,kf):
    accur=[]
    precs=[]
    
    for split in lis:
        train,test=split
        X_train=X[train]
        y_train=y[train]
        X_test=X[test]
        y_test=y[test]
        model=LogisticRegression()
        model.fit(X_train,y_train)
        y_pred=model.predict(X_test)
        accur.append(accuracy_score(y_test,y_pred))
        precs.append(precision_score(y_test,y_pred))
    print("Accuracy score : ",np.mean(accur))
    print("Precision score : ",np.mean(precs))

In [98]:
# from sklearn.linear_model import LogisticRegression
# model=LogisticRegression()
# model.fit(X1_train,y1_train)
# y1_pred=model.predict(X1_test)
# score=model.score(X1_test,y1_test)
score_model(X1,y1,kf)
score_model(X2,y1,kf)
score_model(X3,y1,kf)

Accuracy score :  0.7925030152986732
Precision score :  0.7493439054726369
Accuracy score :  0.7936012188154637
Precision score :  0.7481882637319486
Accuracy score :  0.6515901733003238
Precision score :  0.6334251056290037

# for model with Pclass age and sex feature.

In [35]:
X2=df[['Pclass','sex','Age']].values

In [36]:
X2_train,X2_test,y1_train,y1_test=train_test_split(X2,y1,test_size=0.2,random_state=42)

In [38]:
model.fit(X2_train,y1_train)
y2_pred=model.predict(X2_test)
model.score(X2_test,y1_test)

0.7640449438202247

# for just Fare and sex feature.

In [42]:
X3=df[['Fare','Age']].values
X3_train,X3_test,y1_train,y1_test=train_test_split(X3,y1,test_size=0.2,random_state=42)
model.fit(X3_train,y1_train)
model.predict(X3_test)
model.score(X3_test,y1_test)

0.6460674157303371